# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so

# Virtual Environment
.venv/
venv/
env/
ENV/

# VS Code
.vscode/

# Mac
.DS_Store

# Environment variables
.env

# Logs
*.log

# Python build files
build/
dist/
*.egg-info/

# Jupyter (optional)
.ipynb_checkpoints/
